<form id="user-edit-form" action="/users/<%=@user.id%>" method="PUT">
  <label> Name: </label>
  <input type="text" name="user[name]">
  <label> Email: </label>
  <input type="text" name="user[email]">
  <label> Password: </label>
  <input type="password" name="user[password]">
  <input type="submit" value="Edit">
</form>