<form id="rating-form" action="/ratings" method="POST">
  <label> Rating: </label>
    <input type="hidden" name="<%=@movie.id%>" value="<%=@movie.id%>">
    <input type="text" name="rating[rating]">
    <input type="submit" value="Add Rating">
</form>